.button
  font-family: 'Roboto', sans-serif
  border: 1px solid $blue
  border-radius: 5px
  font-size: 1.21rem
  font-weight: 700
  text-transform: uppercase
  cursor: pointer
  &:focus, &:active
    outline: none
  &--blue
    color: $light
    background-color: $blue
    padding: 1rem 0
    min-width: 17.14rem
    box-shadow: 0 0 15px 5px rgba(188, 204, 230, 1)
    transition: box-shadow 0.3s linear
    &:hover
      box-shadow: none
  &--light
    color: $blue
    background-color: transparent
    padding: 1rem 0
    transition: box-shadow 0.3s linear
    &:hover
      box-shadow: 0 0 15px 8px rgba(188, 204, 230, 1)
.title
  text-align: center
  margin: 0 auto
  font-size: 2.57rem
  font-weight: 300
  max-width: 35rem
  @media (max-width: 787px)
    font-size: 27px 