.button
  width: 17rem
  font-family: 'Roboto', sans-serif
  border: 1px solid $blue
  border-radius: 5px
  font-size: 1.21rem
  font-weight: 700
  text-transform: uppercase
  cursor: pointer
  &--blue
    color: $light
    background-color: $blue
    padding: 1rem 0
    min-width: 17.14rem
    box-shadow: 0 0 15px 8px rgba(188, 204, 230, 1)
  &--light
    color: $blue
    background-color: transparent
    padding: 1rem 0