.appeal {
  background: url("../image/appeal.png") no-repeat top/cover;
  padding: 120px 0;
  text-align: center; }
  .appeal__btn {
    position: relative;
    top: 0;
    background-color: transparent;
    border-color: #fff;
    padding: 20px 33px;
    font-size: 17px;
    color: #fff;
    margin: 0 auto;
    transition: box-shadow 0.2s linear;
    transition: top 0.2s linear; }
    .appeal__btn:hover {
      top: -5px;
      box-shadow: 0 0 15px 5px #042c7d; }
  .appeal__content {
    max-width: 480px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 35px;
    line-height: 125%; }
    .appeal__content span {
      color: #06bee1; }
