.calculator {
  background: url("../image/calc-left.png") no-repeat left bottom, url("../image/calc-right.png") no-repeat right bottom;
  padding-bottom: 120px; }
  .calculator__subtitle {
    margin: 0 auto 3.57rem;
    max-width: 28rem;
    text-align: center;
    font-size: 1.14rem;
    font-weight: 300;
    line-height: 1.8rem; }
  .calculator__inner {
    display: flex;
    justify-content: space-between; }
  .calculator__content {
    display: flex;
    flex-direction: column;
    flex: 0 0 22%; }
  .calculator__title--sm {
    font-weight: 300;
    font-size: 24px;
    color: #0f1c2e;
    margin-top: 0; }
  .calculator__title--lg {
    font-weight: 700; }
  .calculator__subtitle--sm {
    text-align: start; }
  .calculator__form {
    flex: 0 0 65%; }

.form__wrap {
  display: flex;
  flex-wrap: wrap; }

.form__item {
  position: relative;
  flex: 0 0 50%;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #bccce6; }
  .form__item:nth-child(2) {
    max-width: 320px; }
  .form__item:nth-child(3) {
    border: none; }
  .form__item:nth-child(4) {
    border: none; }

.form__btn {
  padding: 17px 28px; }

.input {
  padding: 8px 10px;
  font-weight: 700;
  font-size: 18px;
  max-width: 100px;
  border: 1px solid #bccce6; }
  .input:focus {
    border-color: red; }

.label {
  line-height: 20px;
  position: absolute;
  left: 120px;
  top: 0;
  font-size: 16px;
  font-weight: 300;
  padding-right: 50px; }
