@charset "UTF-8";
.dignity {
  position: relative;
  height: 912px;
  background: url("../image/slider-bg.png") no-repeat center, url("../image/slider-bg-sm.png") no-repeat center; }
  .dignity__title {
    padding-top: 120px; }
    .dignity__title span {
      font-weight: 700; }

/* Слайдер */
.slick-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 730px;
  height: 100px;
  margin: 0 auto; }

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  bottom: 0;
  padding-top: 30px; }

/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  width: 60px;
  height: 25px;
  font-size: 0;
  border: none;
  cursor: pointer; }
  .slick-arrow:focus {
    outline: none; }

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background: url("../image/arrow-left.png") no-repeat center; }

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background: url("../image/arrow-right.png") no-repeat center; }

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
