.modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.6);
  z-index: 99;
  overflow-y: scroll; }
  .modal__dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 560px;
    background-color: #eaf1f7;
    padding: 50px 40px;
    border-radius: 3px; }
  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url("../image/close.svg") no-repeat center;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer; }
    .modal__close:focus {
      outline: none; }
    .modal__close:active {
      outline: none; }
  .modal__title {
    margin: 0;
    font-size: 19px;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    margin-bottom: 40px;
    max-width: 395px; }
  .modal__submit {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #0842b7;
    border: none;
    height: 46px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 20px; }
  .modal__input {
    margin-top: 5px; }
    .modal__input--policy {
      width: 18px;
      height: 18px;
      margin-right: 5px;
      transform: translateY(25%); }

.form {
  display: flex;
  flex-direction: column; }
