@charset "UTF-8";
.dignity {
  position: relative;
  height: 912px;
  background: url("../image/slider-bg.png") no-repeat center, url("../image/slider-bg-sm.png") no-repeat center; }
  .dignity__title {
    padding-top: 120px; }
    .dignity__title span {
      font-weight: 700; }

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
