.strategy {
  text-align: center;
  border-bottom: 1px solid #eaf1f7; }
  .strategy__text {
    margin: 0 auto;
    margin-top: 30px; }
    .strategy__text--con1 {
      max-width: 350px; }
    .strategy__text--con2 {
      max-width: 580px;
      margin-bottom: 45px; }
  .strategy__list {
    list-style: none;
    padding: 0;
    margin-bottom: 80px; }
  .strategy__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .strategy__item::before {
      content: '';
      width: 5px;
      height: 47px;
      margin: 20px 0 30px;
      background: url("../image/strategy/arrow.png") no-repeat center; }
  .strategy__video {
    position: relative;
    margin: 0 auto;
    max-width: 945px;
    min-height: 387px;
    background: url("../image/strategy/video.png") no-repeat center;
    margin-bottom: 50px; }
  .strategy__play {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    cursor: pointer; }
