.calculator
  background: url('../image/calculator/lines-bg-l.png') no-repeat left bottom, url('../image/calculator/lines-bg-r.png') no-repeat right bottom
  padding-bottom: 120px
  &__subtitle
    margin: 0 auto 3.57rem
    max-width: 28rem
    text-align: center
  &__inner
    display: flex
    justify-content: space-between
    @media (max-width: 992px)
      flex-wrap: wrap
  &__content
    display: flex
    flex-direction: column
    max-width: 250px
    @media (max-width: 992px)
      flex: 0 0 100%
      max-width: 100%
      text-align: center
  &__title
    margin-bottom: 30px
    &--sm
      font-weight: 300
      font-size: 24px
      color: #0f1c2e
      margin-top: 0
    &--lg
      font-weight: 700
  &__subtitle
    &--sm
      text-align: start 
  &__text
    font-weight: 300
    font-size: 16px
    line-height: 25px
    @media (max-width: 787px)
      font-size: 15px
    @media (max-width: 570px)
      margin-bottom: 7rem
    // @media (max-width: 385px)
      
  &__form
    flex: 0 0 65%
    @media (max-width: 992px)
      flex: 1 0 100%
      margin: 0 auto
.form
  &__wrap
    display: flex
    flex-wrap: wrap
    @media (max-width: 992px)
      justify-content: center
  &__item
    position: relative
    width: 50%
    align-items: center
    padding-bottom: 40px
    margin-bottom: 40px
    border-bottom: 1px solid #bccce6
    @media (max-width: 787px)
      display: flex
    @media (max-width: 570px)
      padding-bottom: 30px
      &:nth-child(1)
        margin-bottom: 90px
      &:nth-child(1)>.label
        padding-right: 10px
      &:nth-child(2)
        margin-bottom: 90px
      &:nth-child(3)
        padding-right: 10px
      &:nth-child(3)>.label
        padding-right: 10px
    &:nth-child(2)
      max-width: 260px
      label
        padding-right: 0
    &:nth-child(3)
      border: none
    &:nth-child(4)
      border: none
      max-width: 260px
      label
        padding-right: 0
  &__btn
    padding: 17px 28px  
    @media (max-width: 992px)
      display: block
      margin: 0 auto   
.input
  padding: 8px 10px
  font-weight: 700
  font-size: 18px
  max-width: 100px
  border: 1px solid #bccce6
  &:focus
    border-color: red
.label
  line-height: 20px
  position: absolute
  left: 120px
  top: 0
  max-width: 200px
  @media (max-width: 1200px)
    left: 110px
    padding-right: 0
  @media (max-width: 787px)
    top: auto
  @media (max-width: 570px)
    padding-bottom: 90px
    top: -65px
    left: 0
    
    
  @media (max-width: 385px)
    top: -65px
