.form-top
  background: #042057 url('../image/form-top/bg.png') no-repeat center/cover
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  &__title
    color: #ffffff
    max-width: 420px
    margin: 0 auto
  &__text 
    color: #ffffff
    margin: 30px auto 45px
    max-width: 420px
  &__element
    margin: 0 auto
    max-width: 360px
  &__input
    width: 100%
    color: #0f1c2e
    font-size: 16px
    padding: 14px 13px
    border-radius: 5px
    border: none
    margin-bottom: 25px
    &:focus
      outline: none
    &:active
      outline: none
  &__btn
    width: 100%
    margin: 0 auto
    box-shadow: none
    &:hover
      top: 0