.hero
  padding-top: 6.07rem 
  background: #e9f0f8 url('../image/hero-bg.png') no-repeat top/cover
  min-height: 100vh
  background-size: 100vw
  &__content
    display: flex
    flex-direction: column
    padding-top: 11rem
  &__subtitle
    margin: 0
    font-size: 2.57rem
    font-weight: 300
  &__text
    max-width: 26rem  
    font-size: 1.15rem
    font-weight: 300
    margin-top: 1.8rem
    margin-bottom: 4.5rem
    line-height: 1.71rem
  &__question
    display: block
    max-width: 21.14rem
    margin-top: 19.3rem
    font-size: 2.64rem
    font-weight: 300
    background-color: $light
    padding: 1.35rem 

.intro
  display: flex
  align-items: center
  &__actions
    display: flex
    flex-direction: column
  &__button
    &:first-child
      margin-bottom: 0.7rem
  &__text
    max-width: 23.57rem
    font-size: 1.71rem
    font-weight: 300
    margin-left: 3.5rem
    &--light
      color: $heavenly

.title
  margin: 0
  font-size: 5.1rem
  font-weight: 300