.lessons
  background: #eaf1f7 url('../image/lessons/bg.png') no-repeat center/cover
  overflow-x: hidden
  padding: 0
  .slick-slide.slick-active
    &:active,
      outline: none 
      border: none
    &:focus
      outline: none 
      border: none
  .slick-slide.slick-current
    &:active,
      outline: none 
      border: none
    &:focus
      outline: none 
      border: none
  .slick-track
    display: flex
  .slick-slider
    display: flex
    justify-content: space-between
    align-items: center
  .slick-arrow
    position: absolute
    font-size: 0
    bottom: 70px
    width: 60px
    height: 25px
    background: url('../image/lessons/arrow.png') no-repeat center
    border: none
    cursor: pointer
    z-index: 3
    &:focus
      outline: none 
    @media  ( max-width: 787px )
      bottom: 50px
  .slick-prev
    transform: rotate(180deg)
    left: 20px
    @media  ( max-width: 787px )
      left: 20%
  .slick-next
    right: 20px
    @media  ( max-width: 787px )
      right: 20%
  .slick-list 
    height: 100% 
    width: 100%
  .slick-dots
    position: absolute
    top: 110px
    right: 0
    display: flex
    padding-left: 0
    @media  ( max-width: 992px )
      top: 85px
    @media  ( max-width: 580px )
      top: 20px
      right: 10px
      @media  ( max-width: 480px )
        top: 0
        left: 0
        right: 0
        flex-wrap: wrap
    li
      list-style: none
      &:focus
        outline: none
      &:active
        outline: none
      @media  ( max-width: 480px )
        width: 20%
      button
        width: 40px
        height: 40px
        border-radius: 50%
        border: none
        background-color: transparent
        color: #68799a
        font-size: 16px
        font-weight: 300
        cursor: pointer
        &:focus
          outline: none
        &:active
          outline: none
.lessons .slick-dots .slick-active button
  background-color: #06bee1
  color: #ffffff
.lesson
  padding-top: 120px
  @media  ( max-width: 992px )
    padding-top: 100px
  &__item 
    padding-bottom: 30px
    @media  ( max-width: 787px )
      padding-bottom: 60px
  .wrapper
    &__title
      margin-top: 0
      color: #ffffff
  .slick-disabled
    opacity: 0.3
.content-wrap
  display: flex
  justify-content: space-between
  @media  ( max-width: 787px )
    flex-direction: column
    text-align: center
    align-items: center
  &__col
    flex: 0 0 50%
    @media  ( max-width: 787px )
      flex  0 0 100%
  &__title
    color: #ffffff
  &__list
    list-style-type: none
    counter-reset: my-counter
    margin: 0 auto
    @media  ( max-width: 787px )
      text-align: start
    &--border
      padding-bottom: 70px
      border-bottom: 1px solid #153c67
      margin-bottom: 0
      @media  ( max-width: 787px )
        padding-bottom: 0
    li
      position: relative;
      color: #fff
      padding-bottom: 30px
      max-width: 420px
      &::before
        counter-increment: my-counter
        content: counter(my-counter, upper-alpha) '.'
        position: absolute
        left: -20px
        top: 0
        font-size: 16px
        color: #68799a
  &__text
    color: #68799a
    max-width: 452px
    padding-left: 40px
    margin: 30px 10px 90px 0
    @media  ( max-width: 787px )
      padding: 0 0 31px 0
      margin-bottom: 0
      border-bottom: 1px solid #153c67
    &--bgi
      height: 55px
      padding-left: 90px
      background: url('../image/lessons/img.png') no-repeat center left
      max-width: 430px  
      @media  ( max-width: 787px )
        height: auto
        background-position: top left
      @media  ( max-width: 480px )
        background: none
        padding-left: 0
        max-width: 100%
  &__text--bg
    color: #ffff
  &__bonus
    padding-left: 10px
    padding-top: 80px
    @media  ( max-width: 904px )
      padding-top: 110px
    @media  ( max-width: 787px )
      padding: 30px 0 30px
  &__btn
    display: flex
    justify-content: center
    @media  ( max-width: 480px )
      flex-direction: column
      align-items: center
      
.btn__item
  position: relative
  top: 0
  font-size: 16px
  font-weight: 700
  width: 265px
  padding: 15px 0
  margin: 0 15px
  border-radius: 5px
  cursor: pointer
  z-index: 5
  transition: background-color 0.2s linear, color 0.2s linear, border 0.1s linear, top 0.2s linear, box-shadow 0.2s linear
  &:focus
    outline: none
    border: none
  &:active
    outline: none
    border: none
  &--light
    border: 1px solid #ffffff
    background-color: transparent
    color: #ffffff
    text-transform: uppercase
    @media  ( max-width: 480px )
      margin-bottom: 20px
    &:hover
      background-color: #0842b7
      color: #ffffff
      border: 1px solid #0842b7
      top: -3px
  &--blue
    background-color: #0842b7
    color: #ffffff
    text-transform: uppercase
    border: 1px solid #0842b7
    box-shadow: 0 0 20px 10px #042971
    &:hover
      box-shadow: 0 10px 10px 5px #042971
      top: -3px