.calculator
  &__title
    text-align: center
    margin: 0 auto
    font-size: 2.57rem
    font-weight: 300
    max-width: 35rem
  &__subtitle
    margin: 2.40rem auto 3.57rem
    max-width: 28rem
    text-align: center
    font-size: 1.14rem
    font-weight: 300
    line-height: 1.8rem